header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  height: 10px;
  margin-right: 1rem;
}

/* 
starter code above  ^ 
custom code below   v

theme

header and nav bar
  form label color: rgba(0,0,0,.05)
  form input color: rgba(0,0,0,.05)
  form button background color: #fb3e44
  form button letters color: white

*/

.navigation li {
  padding-left: 15px;
}

.bottomHeader {
  justify-content: center;
  vertical-align: baseline;
  align-items: center;
  padding: 7px 0 5px 0;
}

.bottomHeader > * {
  padding: 0 10px;
}

.search input[type="text"] {
  width: 50vw;
  position: relative;
  bottom: 0.2vh;
  height: 34px;
  background-color: rgb(245, 245, 245);
  border: 0;
  font-size: 0.9em;
  padding-left: 50px;
}

.search button {
  transition: 0.2s;
  position: relative;
  bottom: 1px;
  right: 5.5px;
  height: 35.5px;
  padding: 0 12px;
  border-radius: 0;
  border: 0px;
  background-color: #fb3e44;
  color: white;
  font-size: 1em;
}

.search button:hover {
  color: blue;
}

#searchbar::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding-left: 45px;
}
#searchbar::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 45px;
}
#searchbar:-ms-input-placeholder {
  /* IE 10+ */
  padding-left: 45px;
}
#searchbar:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 45px;
}

.logo {
  max-width: 300px;
  font-size: 0.7em;
}

.npmLogo {
  width: 50px;
  height: 15px;
}

.npmLogo:hover {
  transition: 0.25s ease;
  height: 17px;
}

.magnifyingGlass {
  position: relative;
  top: 2px;
  left: 30px;
  width: 18px;
  height: 18px;
  z-index: 2;
}

.bottomHeader a {
  text-decoration: none;
  color: black;
  padding: 4.5px 20px;
}

.joinBtn {
  border: 1px solid black;
  border-radius: 2px;
}

.joinBtn:hover {
  transition: 0.3s;
  background-color: lightgray;
  color: blue;
}

.loginBtn {
  color: lightgray;
}

.loginBtn:hover {
  color: blue;
}
/* end header and navbar */
